*.iml
.gradle
/local.properties
.DS_Store
/build
/captures
.externalNativeBuild
reports
local.properties
.idea
build

Output.txt
Output.json
Output.xml
main.jar
performanceTests/Output.txt
performanceTests/Output.json
performanceTests/Output.xml
